<aside id="sidebar">
  <header>
    HEADER
  </header>
  {% if sidebar.nav %}
  <nav>
    <ul class="nav">
      {% for item in sidebar.nav %}
      <li class="root-item{% if nav_id && nav_id == item.id %} active{% endif %}">
        <a href="{{ item.url }}">
          {% if item.nav %}
          <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right item-closed"></i>
            <i class="fa fa-fw fa-angle-down item-opened"></i>
          </span>
          {% endif %}
          {% if item.label %}
          <b class="label bg-system pull-right">{{ item.label }}</b>
          {% endif %}
          <i class="fa fa-cog{% if loop.first %} text-primary{% endif %}"></i>
          <span>{{ item.name }}</span>
        </a>
        {% if item.nav %}
        <ul class="nav nav-sub">
          {% for item in item.nav %}
          <li{% if nav_id && nav_id == item.id %} class="active"{% endif %}>
            <a href="{{ item.url }}">
              <span>{{ item.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
  <hr class="line"/>
</aside>
