// Layout Header

header#header {
  position: relative;
  display: block;
  height: $header-height;
  margin-left: $sidebar-width;
  background-color: $header-background-color;
  border-bottom: $color-light 1px solid;
  .navbar-right {
    margin-right: 0;
  }
}
