// Layout

.moonlight {
  height: 100%;
  margin: 0;
  padding: 0;
  &.header-fixed {
    header#header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      margin-left: 0;
      padding-left: $sidebar-width;
      z-index: $zindex-1000;
    }
    section#main {
      margin-top: 50px;
    }
  }
  &.sidebar-collapsed {
    header#header, section#main, footer#footer {
      margin-left: $sidebar-collapsed-width;
    }
    &.header-fixed {
      header#header {
        margin-left: 0;
        padding-left: $sidebar-collapsed-width;
      }
    }
    aside#sidebar {
      width: $sidebar-collapsed-width;
    }
  }
  &.sidebar-hidden {
    header#header, section#main, footer#footer {
      margin-left: $sidebar-hidden-width;
    }
    &.header-fixed {
      header#header {
        margin-left: 0;
        padding-left: $sidebar-hidden-width;
      }
    }
    aside#sidebar {
      width: $sidebar-hidden-width;
    }
  }
}

.box {
  @include box-fixed;

  @media (min-width: $screen-sm-min) {
    width: $box-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $box-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $box-lg;
  }
}

.box-fluid {
  @include box-fixed;
}

.box-full {
  margin: 0;
  margin: 0;
  padding:  0;
  padding: 0;
  @include clearfix;
}
