
.moonlight {}

.box {
  @include box-fixed;

  @media (min-width: $screen-sm-min) {
    width: $box-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $box-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $box-lg;
  }
}

.box-fluid {
  @include box-fixed;
}

.box-full {
  margin: 0;
  margin: 0;
  padding:  0;
  padding: 0;
  @include clearfix;
}
