// Layout

.moonlight {
  height: 100%;
  margin: 0;
  padding: 0;
  &.header-fixed {
    header#header {
      position: fixed;
      top: 0;
      left: 0;
    }
  }
  &.sidebar-collapsed {
    header#header, section#main, footer#footer {
      margin-left: $sidebar-collapsed-width;
    }
    aside#sidebar {
      width: $sidebar-collapsed-width;
    }
  }
}

.box {
  @include box-fixed;

  @media (min-width: $screen-sm-min) {
    width: $box-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $box-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $box-lg;
  }
}

.box-fluid {
  @include box-fixed;
}

.box-full {
  margin: 0;
  margin: 0;
  padding:  0;
  padding: 0;
  @include clearfix;
}
