// Layout Nav

aside#sidebar {
  width: $sidebar-width;
  color: $sidebar-text-color;
  background-color: $sidebar-background-color;
  position: fixed;
  z-index: $sidebar-zindex;
  top: 0;
  bottom: 0;
  right: auto;
  overflow: hidden;
  header {
    height: $header-height;
    background-color: darken($sidebar-background-color, $dark-percent);
    padding: $box-padding;
  }
  nav {
    .nav {
      &.nav-sub {
        margin-left: 20px;
        display: none;
      }
      > li {
        &.active {
          background-color: darken($sidebar-background-color, $dark-percent);
          > a {
            color: $white;
            .item-closed {
              display: none;
            }
            .item-opened {
              display: block;
            }
          }
          .nav-sub {
            display: block;
          }
        }
        &.line {
          @include separator($bg-color: darken($sidebar-background-color, $dark-percent));
        }
        > a {
          color: $sidebar-text-color;
          &:hover {
            color: $white;
            background-color: darken($sidebar-background-color, $dark-percent);
          }
          .item-closed {
            display: block;
          }
          .item-opened {
            display: none;
          }
          > i {
            margin-right: 5px;
          }
        }
      }
    }
  }
  hr.line {
    margin: 0;
    border: none;
    @include separator($bg-color: darken($sidebar-background-color, $dark-percent));
  }
}
