// Layout Nav

aside#sidebar {
  width: $sidebar-width;
  color: $sidebar-text-color;
  background-color: $sidebar-background-color;
  position: fixed;
  z-index: $sidebar-zindex;
  top: 0;
  bottom: 0;
  right: auto;
  overflow: hidden;
}
